.circle-green {
    background: rgba(65, 145, 107, 0.99);
    border: 0.1875em solid rgba(65, 145, 107, 0.99);
    border-radius: 40%;
    height: 10px;
    width: 10px;
    margin-right: 3px;
}
.circle-yellow {
    background: rgb(218, 162, 11);
    border: 0.1875em solid rgb(218, 162, 11);
    border-radius: 40%;
    height: 10px;
    width: 10px;
    margin-right: 3px;
}

.circle-red {
    background: rgb(218, 11, 42);
    border: 0.1875em solid rgb(218, 11, 42);
    border-radius: 40%;
    height: 10px;
    width: 10px;
    margin-right: 3px;
}

.circle-grey {
    background: rgb(101, 101, 101);
    border: 0.1875em solid rgb(101, 101, 101);
    border-radius: 40%;
    height: 10px;
    width: 10px;
    margin-right: 3px;
}

.dark{
    /*background: rgb(0, 0, 0);*/
}
.light{
    /*background: rgb(255, 255, 255);*/
}

.el-menu-item{
    font-size: 30px;!important;
}
body{
    --el-border-radius-base: 6px;
}
